doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class="bg-white w-full inline-flex items-center space-4 py-3 h-20 border-b")
      img(src="/images/logo.png", class="flex max-h-full px-8")
      div(class="flex relative whitespace-nowrap text-3xl") Secure Identity Demo v1
    div(class="flex flex-row flex-nowrap")
      div(class="flex w-48 bg-white h-screen border-r")
        ul(class="flex flex-col py-4 space-y-1")
          li(class="px-2 whitespace-nowrap")
            a(href="/wallet")
              span(class="text-sm") Your Wallet
          li(class="px-2 whitespace-nowrap")
            a(href="/step2")
              span(class="text-sm") Verify E-mail
          li(class="px-2 whitespace-nowrap")
            a(href="/wallets")
              span(class="text-sm") List all Wallets

      div(class="flex flex-col break-all p-4 text-sm")
        block content