extends afoo-layout

block content
  div(class="flex items-center min-h-screen")
    div(class="container mx-auto px-6")
      div(class="max-w-md mx-auto my-10 bg-white p-5 rounded-md shadow-sm")
        div(class="text-center")
          h1(class="my-3 text-3xl font-semibold text-gray-700 dark:text-gray-200") Setup Data
          p(class="text-gray-400 dark:text-gray-400") Before we can make use of Identity.one, we'll first need to register our application. Please enter your Identity.one settings below. If you do not have them yet, please register first.
          a(href="/id1/register-app" class="text-gray-600") Identity.one Registration
        div(class="mb-4")
          label(class="block text-grey-darker text-sm font-bold mb-2", for="did") Our DID
          input(class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker", id="did", type="text", placeholder="DID")
        div(class="mb-6")
          label(class="block text-grey-darker text-sm font-bold mb-2", for="vernym") Our Vernym
          input(class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3", id="vernym", type="text", placeholder="Vernym")
        div(class="flex items-center justify-between")
          button(class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded", type="button") Save
