doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(class="bg-snow bg-fixed md:bg-local bg-cover" style="background-color: rgba(45, 47, 54, 0.2); background-blend-mode: multiply;")
    block content