doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class="bg-white w-full inline-flex items-center space-4 py-3 h-20 border-b")
      img(src="/images/logo.png", class="flex max-h-full px-8")
      div(class="flex relative whitespace-nowrap text-3xl") Secure Identity Demo v1
    div(class="flex flex-row flex-nowrap")
      block content